[user]
	name = Fredrik Klingenberg
	email = fredrkl@gmail.com
	signingkey = 999393D4206F2A33
[init]
	defaultBranch = main
[alias]
  st = status
  ls = log --oneline --graph --decorate --all
  ci = commit -S
[core]
	editor = vim
