[user]
	name = Fredrik Klingenberg
	email = fredrkl@gmail.com
[init]
	defaultBranch = main
[alias]
  st = status
  ls = log --oneline --graph --decorate --all
  ci = commit -S
[core]
  editor = vim
# Include Thon-specific config for repos under ~/repos/github/thon/
[includeIf "gitdir:~/repos/github/thon/"]
  path = ~/.gitconfig-thon
